.App {
  text-align: center;

}
body{
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
  background-size: cover;
}
.full-name {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  z-index:2;
}

.firstName
{
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-size: 72px;
  text-transform: uppercase;
  margin-top: 0px;
}
.lastName
{
  color: white;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  font-weight:lighter;
}
.navbar {
  list-style: none;
  display: flex;
  flex-direction: column; /* Change to column direction */
  width: 150px; /* Set a width for the left sidebar */
  height: 100vh; /* Set the height to match the viewport */
  padding: 10px 0; /* Add padding to the top and bottom */
  justify-content: flex-start; /* Align items at the top */
  position: fixed; /* Fix the navbar position */
  left: 0; /* Attach to the left side */
  top: 0; /* Align to the top */
  border-right: 2px solid white;
  padding-right: 50px;
  z-index:2;
}

.navbar li::marker {
  content: none; /* Remove the default marker dots */
}


.navbar-items {
  margin: 35px 0; /* Adjust the margin as needed */
  font-family: 'Space Mono', monospace;
  display: flex; /* Enable flex layout */
  color: white;
  text-decoration: none;
}
.navbar-items-icon {
  margin: 25px 0; /* Adjust the margin as needed */
  font-family: 'Space Mono', monospace;
  display: flex; /* Enable flex layout */
  padding-bottom: 70px  ;
  color: white;
  text-decoration: none;
}
.animate-word:hover {
  font-weight: bold; /* Change text-transform to font-weight for bold effect */
}
.lastName.animate-word:hover {
  font-weight:100; /* Apply bold font weight on hover for first name only */
}
.firstName.animate-word:hover {
  font-weight:bolder; /* Apply bold font weight on hover for first name only */
}


/*PHOTOGRAPHY*/
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.image-item img {
  width: 100%;
  height: -webkit-fill-available; /* Set a fixed height for the images */
  object-fit: cover; /* This will maintain the aspect ratio and cover the container */
  display: block;
}
.PhotographyContent {
  display: flex;
  margin-left:200px;
  flex: 1;
  padding: 20px;
}



