/* Navbar.js */
.App {
  text-align: center;
  z-index:-20;

}
body{
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
  background-size: cover;
  z-index:-20; 
  height:6000px;
  
}
.full-name {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  z-index:2;
  position:fixed;
  top:0px;
  left:50%;
  width:100%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
}

.firstName
{
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-size: 72px;
  text-transform: uppercase;
  margin-top: 0px;
}
.lastName
{
  color: white;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  font-weight:lighter;
}
.navbar {
  list-style: none;
  display: flex;
  flex-direction: column; /* Change to column direction */
  width: 150px; /* Set a width for the left sidebar */
  height: 100vh; /* Set the height to match the viewport */
  padding: 20px 30px 0px 15px; /* Add padding to the top and bottom */
  justify-content: flex-start; /* Align items at the top */
  position: fixed; /* Fix the navbar position */
  left: 0; /* Attach to the left side */
  top: 0px; /* Align to the top */
  border-right: 2px solid white; /* Navbar right border line  */
  z-index:5;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
}

.navbar li::marker {
  content: none; /* Remove the default marker dots */
}


.navbar-items {
  margin: 15px 0; /* Adjust the margin as needed */
  font-family: 'Space Mono', monospace;
  display: flex; /* Enable flex layout */
  color: white;
  text-decoration: none;
}
.navbar-items-icon {
  margin: 25px 0; /* Adjust the margin as needed */
  font-family: 'Space Mono', monospace;
  display: flex; /* Enable flex layout */
  padding-bottom: 40px  ;
  color: white;
  text-decoration: none;
}
.animate-word:hover {
  font-weight: bold; /* Change text-transform to font-weight for bold effect */
}
.lastName.animate-word:hover {
  font-weight:100; /* Apply bold font weight on hover for first name only */
}
.firstName.animate-word:hover {
  font-weight:bolder; /* Apply bold font weight on hover for first name only */
}


/*Photography.js*/
.PhotographyContent {
  display: flex;
  margin-left: 200px;
  flex: 1;
  padding: 20px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
}
.image-item {
  width: calc(32%); /* For 3 columns */
  height:auto;
  position: relative;
  overflow: hidden;
  padding:3px;
}
.image-item p {
  color: white;
}
.image-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  object-position: center;
}

.joined-images{
  display: flex;
  flex-wrap: wrap;
}
.joined-image-item{
  width: calc(50%); /* For 3 columns */
  position: relative;
  overflow: hidden;
}
.joined-image-item p {
  color: white;
}
.joined-image-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  object-position: center;
}
.image-item .blur-load {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  object-position: center;
}
.blur-load {
  background-size: cover;
  background-position: center;
}
.blur-load.loaded > img{
  opacity:1;
  transition: 300ms opacity ease;
}
.blur-load > img{
  opacity:0;
}


/* Home.Js */
.back-blur{
  width:100%;
  height:100%;
  object-fit:fill;
  z-index:-15;
  backdrop-filter: blur(5px);
  display:block;
  position:fixed;
}

.rotators{
  opacity:0.4;
  z-index:-20;
  display:block;
  left: 		  50%;
	position:   fixed;
	top: 			  50%;
	transform:  translatex(-50%) translatey(-50%);
	width:      auto;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: invert();
}

.scroll-animation-outside {
	height:     250px;
}
.scroll-animation-inside1 {
	height:     180px;
}
.scroll-animation-inside2 {
	height:     130px;
}
.scroll-animation-inside3 {
	height:     90px;
	
}
