.cardBody {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  /* background-color: #000; */
  font-family: 'Space Mono', monospace;
}


.container {
  width: 700px;
  height: 350px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  transform-style: preserve-3d;
  border-top:0.2px solid rgba(169, 169, 169, 0.4);
  border-bottom:0.2px solid rgba(169, 169, 169, 0.4);
}

.container:after{
  background:linear-gradient(transparent, white, white, transparent);
  height:100px;
  width:1px;
  position:absolute;
  right:1px;
  top:60%;
  content:"";
  opacity:0;
  transition: top 600ms ease, 
    opacity 600ms ease;
}

.container:before{
  background:linear-gradient(transparent, white, white, transparent);
  height:100px;
  width:1px;
  position:absolute;
  left:-1px;
  top:0%;
  content:"";
  opacity:0;
  transition: top 600ms ease, 
    opacity 600ms ease;
}

.side {
  position: absolute;
  text-align: center;
  color: #fff;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 20px;
  height: 100%; 
  width: 100%;
}
.CardContent {
  transform: translateZ(70px) scale(0.8);
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
}
.CardContent h1 {
  position: relative;
  font-size: 48px;
  margin-top:5px;
  padding-bottom:20px;
  padding-top:15px;
}
.CardContent p {
  margin-top: 35px;
  line-height: 1.5em;
  color: #fff;
  font-size:20px;
  font-weight:bolder;
}
.contacts{
  display:flex;
  padding-top:95px;
  justify-content: space-between;
}
.contacts a{
  text-decoration: none;
  /* color: rgb(91, 91, 91); */
  color: #fff;
}
.back a {
  transition: opacity 300ms ease, scale 300ms ease;
}
.back a:hover {
  scale: 1.2 1.2;
  font-weight: bolder;
  transition: opacity 300ms ease, scale 300ms ease;
}
.back:has(.fancy:hover) a:not(.fancy:hover){
  opacity:0.4;
  scale:0.8 0.8;
  transition: opacity 300ms ease, scale 300ms ease;
}

.socials {
  display: flex;
  gap: 5rem;
  padding-top: 20%;
  padding-left:8.5%;
  z-index: 2;
  filter: invert();
}

.socicon {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  border: 2px solid #000;
  cursor: pointer;
}
.front {
  z-index: 2;
  background-size: cover;
  background-color:black;
  height: 100%;
  width:100%;
}
.back {
  background-color: black;
  transform: rotateY(180deg);
  z-index: 0;
  height: 100%;
  width:100%;
}
.container:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}

.container:hover:after {
  top:37%;
  opacity:1;
}

.container:hover:before {
  top:37%;
  opacity:1;
}
